h1{
    color: red;
}

body{
    background-color: aqua;
}

p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font: bolder;
    color: blue;
    background-color: yellow;
}

a{
    margin-left: 700px;
    color: azure;
}

ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: blue;
}

.nav-bar{
    display: flex;
    flex-direction: column;
    background-color: orange;
    color: aqua;
    align-items: center;
}